@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 12px rgba(56, 55, 55, 0.1);
  width: 348px;
  height: 211px;
}


.card-drag{
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.card-content {
  padding: 20px 20px 0px 20px;
  flex: 0 0 60%;
  font-family: 'Just Another Hand', cursive;
  font-size: 29px;
  line-height: 28px;
  color: var(--text-h);
  text-align: left;
}

.card-infos{
  display: flex;
  flex: 0 0 20%;
  padding: 20px 20px 0px 20px;
  font-family: 'inter', sans-serif;
  justify-content: space-between;
  font-size: 12px;
  color: var(--text-sec);
}
