@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 12px rgba(56, 55, 55, 0.25);
  width: 348px;
  height: 211px;
  @media (prefers-color-scheme: dark) {
    background: #6b5f9b;
    box-shadow: 4px 4px 12px rgba(136, 31, 235, 0.5);
  }
}


.card-drag{
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.card-content {
  padding: 20px 20px 0px 20px;
  flex: 0 0 60%;
  font-family: 'Just Another Hand', cursive;
  font-size: 29px;
  line-height: 28px;
  color: var(--text-h);
  text-align: left;
}

.card-infos{
  display: flex;
  flex: 0 0 20%;
  padding: 20px 20px 0px 20px;
  font-family: 'inter', sans-serif;
  justify-content: space-between;
  font-size: 12px;
  color: var(--text-sec);
}

.fab-div {
  z-index: 100;
  width: 6.3rem;
  height: 6.3rem;
  position: fixed;
  top: 20px;
  left: 20px;
  background: white;
  border-radius: 100%;
  box-shadow: 4px 4px 12px rgba(56, 55, 55, 0.5);
  
  &:hover {
    background: var(--accent);
    cursor: pointer;
    box-shadow: 4px 4px 12px rgba(192, 132, 252, 0.5);
  }
  
  @media (prefers-color-scheme: dark) {
    background: #6b5f9b;
    box-shadow: 4px 4px 12px rgba(136, 31, 235, 0.5);

  }

}